strict-peer-dependencies=false
enable-pre-post-scripts=true
scripts-allowed-for-download[]=esbuild
scripts-allowed-for-download[]=@clerk/shared
scripts-allowed-for-download[]=protobufjs
scripts-allowed-for-download[]=vue-demi
