/* 🎨 全局颜色变量 */
:root {
  /* 暗黑模式文本颜色 */
  --dark-text-primary: #c9d1d9;
  --white-text-primary: #161618;
}

html,
body,
#app {
  height: 100%;
}

body {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
